.main_page {
  .main_page_content {
    padding: 16px 20px;

    .main_page_desc {
      font-weight: 500;
      font-size: 16px;
      font-family: "AvenirPro-medium";
      margin-top: 10px;
    }
  }
}
